@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-regular.woff") format("woff"),
  url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --first-color: #782221;
  --second-color: #dbc2a4;
  --third-color: #2c1d27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}
